# Importing Libraries and CSV files

Importing necessary libraries and csv files. Display two columns from the csv to test on: s10 and s32. Create dataframe df_switch1 and df_switch2 which will be used in the switch function.

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta

#Read Spider activity CSV file
filename = 'Metazygia wittfeldae Monitor 1 activity_LD_binary'
df = pd.read_csv(filename + '.csv', index_col = 0)
df_switch1 = df1.copy()
df_switch2 = df2.copy()

df1 = df.copy()
df1 = df1[['Date_Time', 's2']]

df2 = df.copy()
df2 = df2[['Date_Time', 's32']]

display(df1)
display(df2)

                 Date_Time  s2
0      2017-06-11 00:00:00   1
1      2017-06-11 00:01:00   1
2      2017-06-11 00:02:00   1
3      2017-06-11 00:03:00   1
4      2017-06-11 00:04:00   1
...                    ...  ..
11515  2017-06-18 23:55:00   1
11516  2017-06-18 23:56:00   1
11517  2017-06-18 23:57:00   1
11518  2017-06-18 23:58:00   1
11519  2017-06-18 23:59:00   1

[11520 rows x 2 columns]

                 Date_Time  s32
0      2017-06-11 00:00:00    0
1      2017-06-11 00:01:00    0
2      2017-06-11 00:02:00    0
3      2017-06-11 00:03:00    0
4      2017-06-11 00:04:00    0
...                    ...  ...
11515  2017-06-18 23:55:00    0
11516  2017-06-18 23:56:00    1
11517  2017-06-18 23:57:00    1
11518  2017-06-18 23:58:00    0
11519  2017-06-18 23:59:00    0

[11520 rows x 2 columns]

# Switch Function

This function finds the switch from 0 to 1 or 1 to 0 and labels it as 1 or -1, respectively, in the switch column. It also checks for the corner cases; that is, whether or not the spider is moving at the very beginning or very end. If run begins immediately, the switch column is labeled as 1. If spider run still occurs at the end, the switch column is labeled as -1.

In [34]:
def adjust_start_and_end(df_switch, x):
    df_switch['switch'] = df_switch[x].diff()
    
    if df_switch.at[0, x] == 1:
            df_switch.at[0, 'switch'] = 1
    
    if df_switch.at[df_switch.index[-1], x] == 1 and df_switch.at[df_switch.index[-2], x] == 1:
            df_switch.at[df_switch.index[-1], 'switch'] = -1
    
    if df_switch.at[df_switch.index[-1], x] == 1 and df_switch.at[df_switch.index[-2], x] == 0:
            df_switch.at[df_switch.index[-1], 'switch'] = 0
            
    return

adjust_start_and_end(df_switch1, 's2')
adjust_start_and_end(df_switch2, 's32')

display(df_switch1)
display(df_switch2)

                 Date_Time  s2  switch
0      2017-06-11 00:00:00   1     1.0
1      2017-06-11 00:01:00   1     0.0
2      2017-06-11 00:02:00   1     0.0
3      2017-06-11 00:03:00   1     0.0
4      2017-06-11 00:04:00   1     0.0
...                    ...  ..     ...
11515  2017-06-18 23:55:00   1     1.0
11516  2017-06-18 23:56:00   1     0.0
11517  2017-06-18 23:57:00   1     0.0
11518  2017-06-18 23:58:00   1     0.0
11519  2017-06-18 23:59:00   1    -1.0

[11520 rows x 3 columns]

                 Date_Time  s32  switch
0      2017-06-11 00:00:00    0     NaN
1      2017-06-11 00:01:00    0     0.0
2      2017-06-11 00:02:00    0     0.0
3      2017-06-11 00:03:00    0     0.0
4      2017-06-11 00:04:00    0     0.0
...                    ...  ...     ...
11515  2017-06-18 23:55:00    0     0.0
11516  2017-06-18 23:56:00    1     1.0
11517  2017-06-18 23:57:00    1     0.0
11518  2017-06-18 23:58:00    0    -1.0
11519  2017-06-18 23:59:00    0     0.0

[11520 rows x 3 columns]

# Duration Function

This function finds the run duration by subtracting the index of when the run ended from the index of when the run started. This is found by looking at the switch column: 1 indicates that the run has begun and -1 indicates that the run has ended.

In [35]:
def find_duration(df_switch, x):
    runStart = df_switch.index[df_switch['switch'] == 1].tolist()
    runEnd = df_switch.index[df_switch['switch'] == -1].tolist()
    runDuration = np.subtract(runEnd, runStart)
    
    return runDuration

runDuration1 = find_duration(df_switch1, 's2')
runDuration2 = find_duration(df_switch2, 's32')

display(runDuration1)
display(runDuration2)

array([23,  7,  4,  5,  5,  9,  3,  6,  2,  1,  1, 50, 18,  5, 23,  5,  7,
        4,  1, 31, 19,  1,  4, 13,  2, 12,  1,  2,  8,  4,  5, 23,  5,  5,
        3,  3,  1,  3,  4,  1, 10,  4,  1,  3,  1,  1, 27, 34,  2,  8, 14,
       24,  7,  9, 17, 11, 17,  9, 10,  4,  9,  7, 28,  1, 16,  5, 21,  1,
       14,  3,  2,  5,  2,  1,  2,  4,  2,  1, 46, 26,  7, 16, 19, 31,  3,
        9, 20,  1,  5, 11,  4,  6,  1,  6, 13, 12,  5,  5,  1,  4, 12,  3,
       10, 11, 10, 14,  4,  4,  2,  6, 15,  9,  1,  1,  1,  1,  1, 66,  9,
       18, 13, 10,  5,  2, 19,  5,  2,  1,  1,  8,  9,  1,  6,  5,  1,  6,
       13,  1,  4,  2,  1, 13,  1,  1,  6,  1,  2,  2,  2,  5,  1,  9, 13,
        3, 10,  2,  9, 20,  6,  1,  1,  1,  2,  8,  1,  7,  4,  6,  1,  2,
        5,  1,  1,  1,  1,  2,  1,  1, 80, 10,  4,  6,  1, 15,  1,  5,  3,
        1,  1,  3,  1,  6,  5,  5, 20,  1,  1, 22,  3,  1,  7, 11,  2,  4,
        3,  2,  9,  2,  2,  7,  1,  2,  6,  6,  1,  4,  6,  1,  2,  1,  4,
        5,  1,  1,  2,  2,  4,  2,  1,  1,  1,  4, 69, 23,  1,  2,  3,  6,
       49,  1,  5,  7,  3,  6,  2,  2,  1,  8, 17,  1,  7, 40,  4,  4,  5,
        9,  3,  4, 18, 15,  2,  9,  2,  4,  7,  1,  9,  5,  1,  3,  1,  3,
        1,  3,  1,  1, 47,  6, 12, 25,  1,  1,  4,  8,  4,  6,  2, 14,  2,
        2,  3,  2, 10,  3,  2,  1,  8, 12,  5,  1,  5,  3, 10,  6,  6,  4,
        3,  2,  5,  7,  3,  7,  2,  6,  5,  1,  5,  6,  1,  5,  1, 11,  4,
        3,  3,  2,  6,  2,  3,  1,  1, 58, 15,  4,  5,  4,  4,  2,  4,  4,
        8, 13,  7,  3,  4,  3,  4,  4])

array([ 6,  6,  5,  3,  5,  1,  6,  6,  1,  3,  1,  1,  1,  2,  2,  9,  2,
        6,  1,  2,  6,  2,  2,  2,  7, 12,  7,  5,  2, 12,  2,  2,  3,  2,
        3,  2,  4,  3,  3,  3,  3,  2,  7,  3,  6,  4,  4,  2,  2,  1,  6,
        1, 10,  3,  1,  6,  3,  2,  1,  2,  4,  1,  5,  2,  1,  6,  6, 12,
        6,  4,  1,  3,  1,  2,  5,  3,  2,  1,  2,  2,  3,  7,  2,  1,  1,
        1,  2,  5,  5,  2,  3,  1, 12,  2,  4,  1,  1, 10,  9,  4,  5, 22,
        4, 11,  4,  2,  4,  2,  3,  2, 11,  3,  1,  3,  1,  2,  4,  1,  3,
        9, 12,  2, 12,  3,  2,  2,  1,  3,  8,  4,  5,  2,  1,  3,  7,  1,
        2, 15,  1,  1,  2,  5,  5,  9,  4,  1,  1, 12,  3,  2,  4,  1,  2,
        1,  6,  4,  1,  1,  1,  1,  3,  1,  2,  2,  3,  1,  7,  2,  2,  2,
        1,  2,  1,  1,  1,  1,  3,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,
        7,  1,  1,  3,  2,  1,  1,  3,  2,  3,  1,  2,  2,  1,  2,  1,  1,
        1,  1,  2,  1,  2,  2,  1,  2,  4,  1,  1,  3,  1,  1,  2,  2,  2,
        7,  3,  5,  1,  3,  1,  2,  2,  2,  2,  3,  1,  2,  1,  3,  1,  1,
        1,  1,  1,  1,  2,  2,  1,  1,  1,  1,  2,  2,  4,  1,  2,  2,  2,
        1,  2,  1,  1,  3,  3,  3,  1,  2,  2,  2,  2,  2,  1,  6,  5,  1,
        1,  2,  2,  3,  1,  2,  1,  2,  2,  1,  2,  2,  3,  2,  1,  2,  2,
        1,  2,  1,  1,  3,  1,  1,  9,  1,  1,  1,  1,  2,  1,  6,  1,  1,
        3,  3,  2,  1,  3,  2,  2,  2,  2,  1,  2,  2,  2])

# New Dataframe

This function displays the new dataframe and saves it to a csv file. This function loops through all spider columns, uses the previously defined functions, and appends the run duration columns to a new dataframe. If a spider has a shorter run duration count than another spider, then empty rows are filled with NaN. Run durations are converted to float because NaN values cannot be converted to integers. 

 For testing purposes, the dataframes were displayed separately and not appended.

In [36]:
def allSpiderRuns(df, x):
    newdf = pd.DataFrame()
    
    for x in df.loc[:, df.columns.str.startswith('s')]:
        
        adjust_start_and_end(df_switch, x)
        
        runDuration = find_duration(df_switch, x)
    
        s = pd.Series(runDuration)
        #appends columns and fills columns outside the intersection with NaN values
        newdf = pd.concat([newdf, s.rename(x)], axis=1) 
        #converts all cells to float
        newdf[x] = newdf[x].astype(float)
    
    display(newdf)
    #newdf.to_csv(filename + "_run_duration.csv")    

newdf1 = allSpiderRuns(df1, 's2')
newdf2 = allSpiderRuns(df2, 's32')

       s2
0    23.0
1     7.0
2     4.0
3     5.0
4     5.0
..    ...
343   3.0
344   4.0
345   3.0
346   4.0
347   4.0

[348 rows x 1 columns]

     s32
0    6.0
1    6.0
2    5.0
3    3.0
4    5.0
..   ...
314  2.0
315  1.0
316  2.0
317  2.0
318  2.0

[319 rows x 1 columns]