In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
from datetime import date, time

In [2]:
filename = "Metazygia monitor 1.txt"
df = pd.read_csv(filename, index_col = 0, header = None, delimiter="\t")
display(df)

,1,2,3,4,5,6,7,8,9,10,...,32,33,34,35,36,37,38,39,40,41
0,,,,,,,,,,,,,,,,,,,,,
145,20 Apr 17,16:46:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
146,20 Apr 17,16:47:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
147,20 Apr 17,16:48:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
148,20 Apr 17,16:49:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
149,20 Apr 17,16:50:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21185,5 May 17,07:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21186,5 May 17,07:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21187,5 May 17,07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21188,5 May 17,07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21189,5 May 17,07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
column_names = ['Date', 'Time', 'Light', 'Spider 1', 'Spider 2', 'Spider 3', 'Spider 4', 'Spider 5', 'Spider 6', 
                'Spider 7', 'Spider 8', 'Spider 9', 'Spider 10', 'Spider 11', 'Spider 12', 'Spider 13', 
                'Spider 14', 'Spider 15', 'Spider 16', 'Spider 17', 'Spider 18', 'Spider 19', 'Spider 20', 
                'Spider 21', 'Spider 22', 'Spider 23', 'Spider 24', 'Spider 25', 'Spider 26', 'Spider 27',
               'Spider 28', 'Spider 29', 'Spider 30', 'Spider 31', 'Spider 32']

In [4]:
last_df = df.iloc[:, -32:]
last_df

,10,11,12,13,14,15,16,17,18,19,...,32,33,34,35,36,37,38,39,40,41
0,,,,,,,,,,,,,,,,,,,,,
145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21188,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21189,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
first_df = df.iloc[:, :3]
first_df

               1         2  3
0
145    20 Apr 17  16:46:00  1
146    20 Apr 17  16:47:00  1
147    20 Apr 17  16:48:00  1
148    20 Apr 17  16:49:00  1
149    20 Apr 17  16:50:00  1
...          ...       ... ..
21185   5 May 17  07:26:00  1
21186   5 May 17  07:27:00  1
21187   5 May 17  07:28:00  1
21188   5 May 17  07:29:00  1
21189   5 May 17  07:30:00  1

[21045 rows x 3 columns]

In [6]:
newdf = pd.concat([first_df, last_df],axis = 1)
newdf.to_csv("Metazygia Monitor 1 Test.csv", header = column_names, index = False)
newdf = pd.read_csv("Metazygia Monitor 1 Test.csv", parse_dates = ["Date", "Time"])
display(newdf)

,Date,Time,Light,Spider 1,Spider 2,Spider 3,Spider 4,Spider 5,Spider 6,Spider 7,...,Spider 23,Spider 24,Spider 25,Spider 26,Spider 27,Spider 28,Spider 29,Spider 30,Spider 31,Spider 32
0,2017-04-20,2022-09-28 16:46:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017-04-20,2022-09-28 16:47:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017-04-20,2022-09-28 16:48:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017-04-20,2022-09-28 16:49:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017-04-20,2022-09-28 16:50:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21040,2017-05-05,2022-09-28 07:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21041,2017-05-05,2022-09-28 07:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21042,2017-05-05,2022-09-28 07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21043,2017-05-05,2022-09-28 07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21044,2017-05-05,2022-09-28 07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
date = newdf["Date"].values.astype('datetime64[D]')
time = newdf["Time"].values.astype('datetime64[s]')
without_date = newdf['Time'].apply(lambda d : d.time())
newdf['Time'] = without_date
display(newdf)

,Date,Time,Light,Spider 1,Spider 2,Spider 3,Spider 4,Spider 5,Spider 6,Spider 7,...,Spider 23,Spider 24,Spider 25,Spider 26,Spider 27,Spider 28,Spider 29,Spider 30,Spider 31,Spider 32
0,2017-04-20,16:46:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017-04-20,16:47:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017-04-20,16:48:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017-04-20,16:49:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017-04-20,16:50:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21040,2017-05-05,07:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21041,2017-05-05,07:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21042,2017-05-05,07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21043,2017-05-05,07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21044,2017-05-05,07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
combinedf = pd.to_datetime(newdf.Date.astype(str) + ' ' + newdf.Time.astype(str))
newdf.insert(2, 'Date-Time', combinedf)
newdf.to_csv("Metazygia Monitor 1 Test.csv", index = False)
cleandf = newdf.drop(columns = ['Date', 'Time'])
display(cleandf)

,Date-Time,Light,Spider 1,Spider 2,Spider 3,Spider 4,Spider 5,Spider 6,Spider 7,Spider 8,...,Spider 23,Spider 24,Spider 25,Spider 26,Spider 27,Spider 28,Spider 29,Spider 30,Spider 31,Spider 32
0,2017-04-20 16:46:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017-04-20 16:47:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017-04-20 16:48:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017-04-20 16:49:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017-04-20 16:50:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21040,2017-05-05 07:26:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21041,2017-05-05 07:27:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21042,2017-05-05 07:28:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21043,2017-05-05 07:29:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21044,2017-05-05 07:30:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
cleandf.to_csv("Metazygia Monitor 1 Test.csv", index = False)
cleandf.set_index('Date-Time', inplace = True)
cleandf.index = pd.to_datetime(cleandf.index)
display(cleandf)

,Light,Spider 1,Spider 2,Spider 3,Spider 4,Spider 5,Spider 6,Spider 7,Spider 8,Spider 9,...,Spider 23,Spider 24,Spider 25,Spider 26,Spider 27,Spider 28,Spider 29,Spider 30,Spider 31,Spider 32
Date-Time,,,,,,,,,,,,,,,,,,,,,
2017-04-20 16:46:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-20 16:47:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-20 16:48:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-20 16:49:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-20 16:50:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-05 07:26:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-05 07:27:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-05 07:28:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-05 07:29:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-05 07:30:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0