In [22]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
from datetime import date, time

In [23]:
filename = "Metazygia monitor 1.txt"
df = pd.read_csv(filename, index_col = 0, header = None, delimiter="\t")
display(df)

,1,2,3,4,5,6,7,8,9,10,...,32,33,34,35,36,37,38,39,40,41
0,,,,,,,,,,,,,,,,,,,,,
145,20 Apr 17,16:46:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
146,20 Apr 17,16:47:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
147,20 Apr 17,16:48:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
148,20 Apr 17,16:49:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
149,20 Apr 17,16:50:00,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21185,5 May 17,07:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21186,5 May 17,07:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21187,5 May 17,07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21188,5 May 17,07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21189,5 May 17,07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# List of all column names
def set_up_file(df, newdf):
    column_names = ['Date', 'Time', 'Light', 'Spider 1', 'Spider 2', 'Spider 3', 'Spider 4', 'Spider 5', 'Spider 6', 
                'Spider 7', 'Spider 8', 'Spider 9', 'Spider 10', 'Spider 11', 'Spider 12', 'Spider 13', 
                'Spider 14', 'Spider 15', 'Spider 16', 'Spider 17', 'Spider 18', 'Spider 19', 'Spider 20', 
                'Spider 21', 'Spider 22', 'Spider 23', 'Spider 24', 'Spider 25', 'Spider 26', 'Spider 27',
               'Spider 28', 'Spider 29', 'Spider 30', 'Spider 31', 'Spider 32']

    # We want to keep the last 32 columns and the first 3 columns, the rest of the columns will be removed
    last_df = df.iloc[:, -32:]
    first_df = df.iloc[:, :3]

    # Concatenate the first and last sections of the dataframe
    newdf = pd.concat([first_df, last_df], axis = 1)

    # Save dataframe as .csv file and set Date and Time columns into datetime format
    newdf.to_csv("Metazygia Monitor 1 Test.csv", header = column_names, index = False)
    newdf = pd.read_csv("Metazygia Monitor 1 Test.csv", parse_dates = ["Date", "Time"])
    #display(newdf)
    
    return newdf

set_up_file(df, newdf)

,Date,Time,Light,Spider 1,Spider 2,Spider 3,Spider 4,Spider 5,Spider 6,Spider 7,...,Spider 23,Spider 24,Spider 25,Spider 26,Spider 27,Spider 28,Spider 29,Spider 30,Spider 31,Spider 32
0,2017-04-20,2022-09-28 16:46:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017-04-20,2022-09-28 16:47:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017-04-20,2022-09-28 16:48:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017-04-20,2022-09-28 16:49:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017-04-20,2022-09-28 16:50:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21040,2017-05-05,2022-09-28 07:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21041,2017-05-05,2022-09-28 07:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21042,2017-05-05,2022-09-28 07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21043,2017-05-05,2022-09-28 07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21044,2017-05-05,2022-09-28 07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
def set_date_time(df, newdf):
    # Clean up Date and Time columns to remove the extra date in the Time column
    #date = newdf["Date"].values.astype('datetime64[D]')
    #time = newdf["Time"].values.astype('datetime64[s]')
    #pd.to_datetime(newdf['Time'])
    newdf['Time'] = newdf['Time'].apply(pd.Timestamp) 
    without_date = newdf['Time'].apply(lambda d : d.time())
    newdf['Time'] = without_date
    #display(newdf)

    # Combine Date and Time columns into Date-Time column and save as updated .csv file. Delete Date and Time columns
    combinedf = pd.to_datetime(newdf.Date.astype(str) + ' ' + newdf.Time.astype(str))
    newdf.insert(2, 'Date-Time', combinedf)
    newdf.to_csv("Metazygia Monitor 1 Test.csv", index = False)
    cleandf = newdf.drop(columns = ['Date', 'Time'])
    #display(cleandf)

    # Set Date-Time column as index
    cleandf.to_csv("Metazygia Monitor 1 Test.csv", index = False)
    cleandf.set_index('Date-Time', inplace = True)
    cleandf.index = pd.to_datetime(cleandf.index)
    display(cleandf)
    
    return cleandf

set_date_time(df, newdf)

TypeError: Cannot convert input [16:46:00] of type <class 'datetime.time'> to Timestamp