In [29]:
#Importing Libraries

Importing necessary libraries and reading csv file

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("sample.csv")
df

    s1  s2
0    0   1
1    0   1
2    1   1
3    1   1
4    0   1
5    0   0
6    1   0
7    1   0
8    1   1
9    1   1
10   1   1
11   1   0
12   0   0
13   0   0
14   0   0
15   0   1
16   0   1
17   0   1
18   0   1

In [ ]:
#Tests

Testing how to count consecutive 1s.
This code counts the total number of 0 and 1s, which is not what we want.

In [18]:
for x in df.loc[:, df.columns.str.startswith('s')]:
        display(df[x].value_counts())

0    11
1     8
Name: s1, dtype: int64

1    12
0     7
Name: s2, dtype: int64

Trying to create a new column with the cumulative sum of 1s. Ideally, a new cell will be created after a run is over.

In [21]:
for x in df.loc[:, df.columns.str.startswith('s')]:
    df['count'] = df.groupby(df[0].ne(df[0].shift()).cumsum())[0].transform('size')
    print (df)

NameError: name 's1' is not defined

A similar attempt, but this code doesn't create the new cell as desired.

In [25]:
df['subgroup'] = (df['s1'] != df['s1'].shift(1)).cumsum()
display(df['subgroup'])

0     1
1     1
2     2
3     2
4     3
5     3
6     4
7     4
8     4
9     4
10    4
11    4
12    5
13    5
14    5
15    5
16    5
17    5
18    5
Name: subgroup, dtype: int64

In [27]:
df.groupby('subgroup',as_index=False).apply(lambda x: (x['s1'].head(1),
                                                        x.shape[0],
                                                        x['start'].iloc[-1] - x['start'].iloc[0]))

KeyError: 'start'