In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Input:
df = pd.read_csv("Metazygia monitor 1.csv")
display(df.head())

,Date_Time,lights,Monitor 1 Spider 1,Monitor 1 Spider 2,Monitor 1 Spider 3,Monitor 1 Spider 4,Monitor 1 Spider 5,Monitor 1 Spider 6,Monitor 1 Spider 7,Monitor 1 Spider 8,...,Monitor 1 Spider 23,Monitor 1 Spider 24,Monitor 1 Spider 25,Monitor 1 Spider 26,Monitor 1 Spider 27,Monitor 1 Spider 28,Monitor 1 Spider 29,Monitor 1 Spider 30,Monitor 1 Spider 31,Monitor 1 Spider 32
0,2017-04-21 00:00:00,0,0,0,0,0,1,3,0,0,...,0,0,0,0,0,2,5,0,0,0
1,2017-04-21 00:01:00,0,0,0,0,0,0,9,0,0,...,0,0,0,0,0,5,10,0,0,0
2,2017-04-21 00:02:00,0,0,0,0,0,7,2,0,0,...,0,2,0,0,4,4,4,0,0,0
3,2017-04-21 00:03:00,0,0,0,0,0,6,0,0,0,...,0,0,0,0,0,5,4,0,0,0
4,2017-04-21 00:04:00,0,0,0,0,2,2,0,0,0,...,0,0,0,0,0,3,2,0,0,0

In [12]:
min_day=1440
total_time = len(df.index)
num_days = total_time//min_day

#Split DataFrame into LD and DD DataFrames
def LDandDD(df):
    #Run for loop to check the light activity of each day
    for i in range(0,num_days):
        dfnew=df[min_day*(i):min_day*(i+1)]
        dfnew=dfnew.reset_index(drop=True)
        #Find the first day of the DD cycle. This is where we will split the 
        #DataFrame
        if np.mean(dfnew.lights)==0:
            end=min_day*i
            break
    LDdf=df.iloc[:end]
    DDdf=df.iloc[end:]
    return LDdf, DDdf

LD_df, DD_df = LDandDD(df)
#display(LDdf)
#display(DDdf)

In [18]:
df_night = LD_df[LD_df.lights == 0]
df_night[["day", "time"]] = df_night["Date_Time"].str.split(" ", expand = True)
display(df_night.head())

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Date_Time,lights,Monitor 1 Spider 1,Monitor 1 Spider 2,Monitor 1 Spider 3,Monitor 1 Spider 4,Monitor 1 Spider 5,Monitor 1 Spider 6,Monitor 1 Spider 7,Monitor 1 Spider 8,...,Monitor 1 Spider 25,Monitor 1 Spider 26,Monitor 1 Spider 27,Monitor 1 Spider 28,Monitor 1 Spider 29,Monitor 1 Spider 30,Monitor 1 Spider 31,Monitor 1 Spider 32,day,time
0,2017-04-21 00:00:00,0,0,0,0,0,1,3,0,0,...,0,0,0,2,5,0,0,0,2017-04-21,00:00:00
1,2017-04-21 00:01:00,0,0,0,0,0,0,9,0,0,...,0,0,0,5,10,0,0,0,2017-04-21,00:01:00
2,2017-04-21 00:02:00,0,0,0,0,0,7,2,0,0,...,0,0,4,4,4,0,0,0,2017-04-21,00:02:00
3,2017-04-21 00:03:00,0,0,0,0,0,6,0,0,0,...,0,0,0,5,4,0,0,0,2017-04-21,00:03:00
4,2017-04-21 00:04:00,0,0,0,0,2,2,0,0,0,...,0,0,0,3,2,0,0,0,2017-04-21,00:04:00

In [27]:
threshold = df_night['Monitor 1 Spider 2'].mean()
print(threshold)
rolling_df = df_night['Monitor 1 Spider 2'].rolling(window=30).mean()
display(rolling_df)
threshold_crossings = df_night[rolling_df > threshold].time
print(threshold_crossings)

3.967454798331015

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
7195    1.866667
7196    1.866667
7197    1.866667
7198    1.866667
7199    1.866667
Name: Monitor 1 Spider 2, Length: 3595, dtype: float64

1206    20:06:00
1207    20:07:00
1208    20:08:00
1209    20:09:00
1210    20:10:00
          ...
7158    23:18:00
7159    23:19:00
7160    23:20:00
7161    23:21:00
7162    23:22:00
Name: time, Length: 1440, dtype: object

In [ ]:
def calculate_activity_onset(df, on_off_sublist, column_name):
    
    #calculate nightly activity as a threshold for days where the spider is inactive
    nightly_activity = find_nightly_activity(df, on_off_sublist)
    
    #loop through dark times to calculate activity onset
    activity_onset_values = []
    for x in on_off_sublist:
        
        #loop through the times it is dark every night
        looped_df = df.loc[x[0]:x[1], :]
        
        #calculate threshold every night
        threshold = looped_df[column_name].mean()
        
        #find all points where rolling average of activity is above the threshold 
        threshold_crossings = looped_df[looped_df[column_name] > threshold].index
        
        #append first threshold crossing to the activity onset list every day
        if len(threshold_crossings) > 0:
            
            #check if enough activity happens in that day for it to be considered a full day of activity
            if looped_df[column_name].mean() > 1/10 * nightly_activity[column_name].mean():
                
                activity_onset_values.append(threshold_crossings[0])
                
            else:
                activity_onset_values.append('NaN')
        else:
            activity_onset_values.append('NaN')  
    
    return activity_onset_values


#this function loops through all column names and calculates activity onset for every day for every spider
def calculate_activity_onset_multiple_spiders(df, rolling_df):
    #create list of spider names
    spider_names = list(rolling_df)
    
    #create empty dictionary to store activity onset values in
    mult_spiders_activity_onset_dict = {}
    
    #create list of all dates and times where lights turn on and off
    transition_indexes_list = find_lights_turn_on_off(df)
    
    #create sublists containing each day of light switch indeces so they are easy to work with
    on_off_sublist = create_on_off_sublist(transition_indexes_list)
    
    #loop through all columns
    for i in spider_names:
        mult_spiders_activity_onset_values = calculate_activity_onset(rolling_df, on_off_sublist, i)
    
        #create dictionary key and element containing spider name and activity onset
        mult_spiders_activity_onset_dict[i] = mult_spiders_activity_onset_values
        
    return mult_spiders_activity_onset_dict


#Create activity onset dataframe function
def create_activity_onset_df(mult_spiders_activity_onset_dict, lights_turn_off):

    #create dataframe from dictionary previously created
    mult_spiders_activity_onset_df = pd.DataFrame.from_dict(mult_spiders_activity_onset_dict)

    #subtract the time the lights turn off from every value in df
    subtracted_df = mult_spiders_activity_onset_df - lights_turn_off
    
    #create list of spiders
    spider_names = list(subtracted_df)
    
    #loop through every column to extract activity onset time
    for x in spider_names: 
        
        #extract minutes and hours from every value in each column to get activity onset in relation to lights turn off
        subtracted_df[x] = subtracted_df[x].dt.seconds/60
        
        #replace every activity onset that occurs past midnight with NaN, as these are likely incorrect calculations
        subtracted_df[x] = np.where(subtracted_df[x] > late_threshold, 'NaN', subtracted_df[x])
    
    #list of unique dates to make the index of the subtracted df
    list_of_dates = list(mult_spiders_activity_onset_df.iloc[:, 1].dt.date)
    
    #set the unique dates as the index
    subtracted_df.index = list_of_dates
    
    #turn all values into integers instead of strings
    subtracted_df = subtracted_df.apply(pd.to_numeric, errors='coerce')
    
    #save dataframe as csv file
    subtracted_df.to_csv(filename + ' Activity Onset Values.csv')
    
    return subtracted_df