In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#df=pd.read_csv('Metazygia monitor 1.csv')
#meta=pd.DataFrame(index=df.columns[2:])
#meta['Entrained']=''
#meta['TOD']=''
#meta.to_csv('META-Metazygia monitor 1.csv')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
meta=pd.read_csv('META-Metazygia monitor 1.csv')
def setindex(df):
    df['Date_Time']=pd.to_datetime(df['Date'] + ' ' + df['Time'])
    df = df.set_index(pd.DatetimeIndex(df['Date_Time']))
    df = df.drop(['Date', 'Time'], axis = 1)
    return df

display(meta)

,Unnamed: 0,Entrained,TOD,Keep LD only,Drop Time
0,Monitor 1 Spider 1,True,NaN,False,NaN
1,Monitor 1 Spider 2,True,NaN,False,NaN
2,Monitor 1 Spider 3,True,NaN,False,NaN
3,Monitor 1 Spider 4,True,NaN,False,NaN
4,Monitor 1 Spider 5,True,NaN,False,NaN
5,Monitor 1 Spider 6,True,NaN,False,NaN
6,Monitor 1 Spider 7,True,NaN,False,NaN
7,Monitor 1 Spider 8,True,NaN,False,NaN
8,Monitor 1 Spider 9,True,NaN,False,NaN
9,Monitor 1 Spider 10,True,NaN,False,NaN
10,Monitor 1 Spider 11,True,NaN,False,NaN
11,Monitor 1 Spider 12,True,NaN,False,NaN
12,Monitor 1 Spider 13,True,NaN,False,NaN
13,Monitor 1 Spider 14,True,NaN,False,NaN
14,Monitor 1 Spider 15,True,NaN,False,NaN
15,Monitor 1 Spider 16,True,NaN,False,NaN
16,Monitor 1 Spider 17,False,2017-04-21 00:00:00,NaN,NaN
17,Monitor 1 Spider 18,True,NaN,False,NaN
18,Monitor 1 Spider 19,True,NaN,False,NaN
19,Monitor 1 Spider 20,True,NaN,False,NaN
20,Monitor 1 Spider 21,True,NaN,False,NaN
21,Monitor 1 Spider 22,False,2017-04-21 00:00:00,NaN,NaN
22,Monitor 1 Spider 23,True,NaN,True,2017-04-26 00:00:00
23,Monitor 1 Spider 24,False,2017-04-21 00:00:00,NaN,NaN
24,Monitor 1 Spider 25,True,NaN,False,NaN
25,Monitor 1 Spider 26,True,NaN,False,NaN
26,Monitor 1 Spider 27,True,NaN,False,NaN
27,Monitor 1 Spider 28,True,NaN,False,NaN
28,Monitor 1 Spider 29,True,NaN,False,NaN
29,Monitor 1 Spider 30,True,NaN,False,NaN
30,Monitor 1 Spider 31,True,NaN,False,NaN
31,Monitor 1 Spider 32,True,NaN,False,NaN

In [39]:
df=pd.read_csv('Metazygia monitor 1-test.csv', index_col=0)
dfdark=df.iloc[7200:]
dflight=df.iloc[:7200]
display(dfdark)

,lights,Monitor 1 Spider 1,Monitor 1 Spider 2,Monitor 1 Spider 3,Monitor 1 Spider 4,Monitor 1 Spider 5,Monitor 1 Spider 6,Monitor 1 Spider 7,Monitor 1 Spider 8,Monitor 1 Spider 9,...,Monitor 1 Spider 23,Monitor 1 Spider 25,Monitor 1 Spider 26,Monitor 1 Spider 27,Monitor 1 Spider 28,Monitor 1 Spider 29,Monitor 1 Spider 30,Monitor 1 Spider 31,Monitor 1 Spider 32,Date_Time.1
Date_Time,,,,,,,,,,,,,,,,,,,,,
2017-04-26 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0,0,0,0,9,7,0,2017-04-26 00:00:00
2017-04-26 00:01:00,0,11,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,3,0,6,2017-04-26 00:01:00
2017-04-26 00:02:00,0,4,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,8,3,6,2017-04-26 00:02:00
2017-04-26 00:03:00,0,4,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,9,11,0,2017-04-26 00:03:00
2017-04-26 00:04:00,0,1,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,4,0,2017-04-26 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-04 23:55:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:55:00
2017-05-04 23:56:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:56:00
2017-05-04 23:57:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:57:00
2017-05-04 23:58:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:58:00
2017-05-04 23:59:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:59:00

In [4]:
min_day=1440
threeday=min_day*4
num_days=14
#for i in range(num_days):
    mean=np.mean(df.iloc[i*min_day:(i*min_day)+threeday])
    if mean == 0:
        end=(i*min_day)-1
        df[column[spider]].drop(df[column[spider]].iloc[end:])

IndentationError: unexpected indent (<ipython-input-4-588a4722d6e3>, line 5)

In [ ]:
import math 
df1=df.copy()
columns=df1.columns[1:-1]

In [ ]:


#for i in range(len(meta.index)):
    if meta.Entrained[i]==False:
        df=df.drop([columns[i]], axis=1)
    if isinstance(meta['Drop Time'][i], str):
        df3=df.loc[:meta['Drop Time'][i], columns[i]]
        print(df3)
        df[columns[i]]=df3
        
display(df)

In [ ]:
#df.to_csv('Metazygia monitor 1-test.csv')

In [ ]:
#Anaconda prompt "pip install CosinorPy"
#https://github.com/mmoskon/CosinorPy/blob/master/docs/docs_cosinor.md#parameters-6
from CosinorPy import cosinor

In [5]:
dfcos=df.loc[:,['lights','Monitor 1 Spider 18']]
dfcos['test']='Monitor 1 Spider 9'
dfcos['x']=df['Monitor 1 Spider 9']
dfcos['y']=dfcos.index
dfcos=dfcos.drop(columns=['lights', 'Monitor 1 Spider 9'])
dfcos=dfcos.reset_index()
index=['Monitor 1 Spider 10']
dfcoss=pd.DataFrame(data=df['Monitor 1 Spider 10'], columns=dfcos.y, index=index)
display(dfcoss)

KeyError: "['Monitor 1 Spider 9'] not found in axis"

In [ ]:
cosinor.fit_group(dfcos)

In [8]:
#from gatspy.periodic import periodogram_auto
from gatspy.periodic import LombScargleFast
    
time = range(len(dfcos.x))
move = dfcos['x'].values
model = LombScargleFast().fit(time, move)
periods, power = model.periodogram_auto()
model.optimizer.period_range = (1400, 1500)

period = model.best_period
periodh=(period/60)
display(periodh)

        #plt.plot(periods, power, 'o-')
        #plt.title('Periodogram of Sunspot numbers (1950 - 2000)')
       # plt.grid()
        #plt.xlabel('Period (Year)')
        #plt.ylabel('Lomb-Scargle Power')
        #plt.xlim(0,50)

Finding optimal frequency:
 - Estimated peak width = 0.000485
 - Using 5 steps per peak; omega_step = 9.7e-05
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 5 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps

23.793698589894248

In [10]:
from gatspy import datasets, periodic

model = periodic.LombScargleFast(fit_period=True)
model.optimizer.period_range = (1400, 1500)
model.fit(time, move)

Finding optimal frequency:
 - Estimated peak width = 0.000485
 - Using 5 steps per peak; omega_step = 9.7e-05
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 5 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps

In [40]:
from gatspy.periodic import LombScargleFast
    
columns=dflight.columns[1:-1]    
per=pd.DataFrame(index=columns)

In [41]:
period=np.empty(len(columns))
for i in range(len(columns)):
    time = range(len(dflight.index))
    move = dflight[columns[i]].values
    model = LombScargleFast().fit(time, move)
    model.optimizer.period_range = (1400, 1500)
    period[i] = (model.best_period)/60
    #periodh=(period/60)

Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps
Finding optimal frequency:
 - Estimated peak width = 0.000873
 - Using 5 steps per peak; omega_step = 0.000175
 - User-specified period range:  1.4e+03 to 1.5e+03
 - Computing periods at 3 steps
Zooming-in on 5 candidate peaks:
 - Computing periods at 995 steps

In [42]:
display(period)
per['Period']=period
display(per)

array([23.81881948, 24.2423222 , 23.64048338, 24.33080979, 22.77876218,
       24.01908448, 23.38248668, 22.72698573, 22.6583155 , 23.7058746 ,
       23.7058746 , 23.58472022, 23.3279326 , 22.23835413, 22.23835413,
       22.59856856, 23.29170441, 24.35056149, 22.61560694, 23.0766765 ,
       22.70977918, 24.01908448, 22.23835413, 24.01908448, 23.43729652,
       23.1657871 , 23.36427366, 24.10594696, 22.98824882])

                        Period
Monitor 1 Spider 1   23.818819
Monitor 1 Spider 2   24.242322
Monitor 1 Spider 3   23.640483
Monitor 1 Spider 4   24.330810
Monitor 1 Spider 5   22.778762
Monitor 1 Spider 6   24.019084
Monitor 1 Spider 7   23.382487
Monitor 1 Spider 8   22.726986
Monitor 1 Spider 9   22.658315
Monitor 1 Spider 10  23.705875
Monitor 1 Spider 11  23.705875
Monitor 1 Spider 12  23.584720
Monitor 1 Spider 13  23.327933
Monitor 1 Spider 14  22.238354
Monitor 1 Spider 15  22.238354
Monitor 1 Spider 16  22.598569
Monitor 1 Spider 18  23.291704
Monitor 1 Spider 19  24.350561
Monitor 1 Spider 20  22.615607
Monitor 1 Spider 21  23.076676
Monitor 1 Spider 23  22.709779
Monitor 1 Spider 25  24.019084
Monitor 1 Spider 26  22.238354
Monitor 1 Spider 27  24.019084
Monitor 1 Spider 28  23.437297
Monitor 1 Spider 29  23.165787
Monitor 1 Spider 30  23.364274
Monitor 1 Spider 31  24.105947
Monitor 1 Spider 32  22.988249