In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#df=pd.read_csv('Metazygia monitor 1.csv')
#meta=pd.DataFrame(index=df.columns[2:])
#meta['Entrained']=''
#meta['TOD']=''
#meta.to_csv('META-Metazygia monitor 1.csv')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
meta=pd.read_csv('META-Metazygia monitor 1.csv', index_col=0)
display(meta)

,Entrained,TOD,Keep LD only,Drop Time
Monitor 1 Spider 1,True,NaN,False,NaN
Monitor 1 Spider 2,True,NaN,False,NaN
Monitor 1 Spider 3,True,NaN,False,NaN
Monitor 1 Spider 4,True,NaN,False,NaN
Monitor 1 Spider 5,True,NaN,False,NaN
Monitor 1 Spider 6,True,NaN,False,NaN
Monitor 1 Spider 7,True,NaN,False,NaN
Monitor 1 Spider 8,True,NaN,False,NaN
Monitor 1 Spider 9,True,NaN,False,NaN
Monitor 1 Spider 10,True,NaN,False,NaN
Monitor 1 Spider 11,True,NaN,False,NaN
Monitor 1 Spider 12,True,NaN,False,NaN
Monitor 1 Spider 13,True,NaN,False,NaN
Monitor 1 Spider 14,True,NaN,False,NaN
Monitor 1 Spider 15,True,NaN,False,NaN
Monitor 1 Spider 16,True,NaN,False,NaN
Monitor 1 Spider 17,False,2017-04-21 00:00:00,NaN,NaN
Monitor 1 Spider 18,True,NaN,False,NaN
Monitor 1 Spider 19,True,NaN,False,NaN
Monitor 1 Spider 20,True,NaN,False,NaN
Monitor 1 Spider 21,True,NaN,False,NaN
Monitor 1 Spider 22,False,2017-04-21 00:00:00,NaN,NaN
Monitor 1 Spider 23,True,NaN,True,2017-04-26 00:00:00
Monitor 1 Spider 24,False,2017-04-21 00:00:00,NaN,NaN
Monitor 1 Spider 25,True,NaN,False,NaN
Monitor 1 Spider 26,True,NaN,False,NaN
Monitor 1 Spider 27,True,NaN,False,NaN
Monitor 1 Spider 28,True,NaN,False,NaN
Monitor 1 Spider 29,True,NaN,False,NaN
Monitor 1 Spider 30,True,NaN,False,NaN
Monitor 1 Spider 31,True,NaN,False,NaN
Monitor 1 Spider 32,True,NaN,False,NaN

In [3]:
df=pd.read_csv('Metazygia monitor 1-test.csv', index_col=0)
display(df)

,lights,Monitor 1 Spider 1,Monitor 1 Spider 2,Monitor 1 Spider 3,Monitor 1 Spider 4,Monitor 1 Spider 5,Monitor 1 Spider 6,Monitor 1 Spider 7,Monitor 1 Spider 8,Monitor 1 Spider 9,...,Monitor 1 Spider 23,Monitor 1 Spider 25,Monitor 1 Spider 26,Monitor 1 Spider 27,Monitor 1 Spider 28,Monitor 1 Spider 29,Monitor 1 Spider 30,Monitor 1 Spider 31,Monitor 1 Spider 32,Date_Time.1
Date_Time,,,,,,,,,,,,,,,,,,,,,
2017-04-21 00:00:00,0,0,0,0,0,1,3,0,0,3,...,0.0,0,0,0,2,5,0,0,0,2017-04-21 00:00:00
2017-04-21 00:01:00,0,0,0,0,0,0,9,0,0,16,...,0.0,0,0,0,5,10,0,0,0,2017-04-21 00:01:00
2017-04-21 00:02:00,0,0,0,0,0,7,2,0,0,10,...,0.0,0,0,4,4,4,0,0,0,2017-04-21 00:02:00
2017-04-21 00:03:00,0,0,0,0,0,6,0,0,0,0,...,0.0,0,0,0,5,4,0,0,0,2017-04-21 00:03:00
2017-04-21 00:04:00,0,0,0,0,2,2,0,0,0,2,...,0.0,0,0,0,3,2,0,0,0,2017-04-21 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-04 23:55:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:55:00
2017-05-04 23:56:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:56:00
2017-05-04 23:57:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:57:00
2017-05-04 23:58:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:58:00
2017-05-04 23:59:00,0,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,0,2017-05-04 23:59:00

In [ ]:
min_day=1440
threeday=min_day*4
num_days=14
for i in range(num_days):
    mean=np.mean(df.iloc[i*min_day:(i*min_day)+threeday])
    if mean == 0:
        end=(i*min_day)-1
        df[column[spider]].drop(df[column[spider]].iloc[end:])

In [4]:
import math 
df1=df.copy()
columns=df1.columns[1:-1]

In [5]:


for i in range(len(meta.index)):
    if meta.Entrained[i]==False:
        df=df.drop([columns[i]], axis=1)
    if isinstance(meta['Drop Time'][i], str):
        df3=df.loc[:meta['Drop Time'][i], columns[i]]
        print(df3)
        df[columns[i]]=df3
        
display(df)

Date_Time
2017-04-21 00:00:00    0
2017-04-21 00:01:00    0
2017-04-21 00:02:00    0
2017-04-21 00:03:00    0
2017-04-21 00:04:00    0
                      ..
2017-04-25 23:56:00    0
2017-04-25 23:57:00    0
2017-04-25 23:58:00    0
2017-04-25 23:59:00    0
2017-04-26 00:00:00    0
Name: Monitor 1 Spider 26, Length: 7201, dtype: int64

,lights,Monitor 1 Spider 1,Monitor 1 Spider 2,Monitor 1 Spider 3,Monitor 1 Spider 4,Monitor 1 Spider 5,Monitor 1 Spider 6,Monitor 1 Spider 7,Monitor 1 Spider 8,Monitor 1 Spider 9,...,Monitor 1 Spider 20,Monitor 1 Spider 21,Monitor 1 Spider 23,Monitor 1 Spider 26,Monitor 1 Spider 28,Monitor 1 Spider 29,Monitor 1 Spider 30,Monitor 1 Spider 31,Monitor 1 Spider 32,Date_Time.1
Date_Time,,,,,,,,,,,,,,,,,,,,,
2017-04-21 00:00:00,0,0,0,0,0,1,3,0,0,3,...,0,0,0.0,0.0,2,5,0,0,0,2017-04-21 00:00:00
2017-04-21 00:01:00,0,0,0,0,0,0,9,0,0,16,...,4,0,0.0,0.0,5,10,0,0,0,2017-04-21 00:01:00
2017-04-21 00:02:00,0,0,0,0,0,7,2,0,0,10,...,0,0,0.0,0.0,4,4,0,0,0,2017-04-21 00:02:00
2017-04-21 00:03:00,0,0,0,0,0,6,0,0,0,0,...,5,0,0.0,0.0,5,4,0,0,0,2017-04-21 00:03:00
2017-04-21 00:04:00,0,0,0,0,2,2,0,0,0,2,...,3,0,0.0,0.0,3,2,0,0,0,2017-04-21 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-04 23:55:00,0,0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,0,0,0,0,0,2017-05-04 23:55:00
2017-05-04 23:56:00,0,0,0,0,0,0,0,0,0,0,...,0,5,NaN,NaN,0,0,0,0,0,2017-05-04 23:56:00
2017-05-04 23:57:00,0,0,0,0,0,0,0,0,0,0,...,0,5,NaN,NaN,0,0,0,0,0,2017-05-04 23:57:00
2017-05-04 23:58:00,0,0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,0,0,0,0,0,2017-05-04 23:58:00
2017-05-04 23:59:00,0,0,0,0,0,0,0,0,0,0,...,0,4,NaN,NaN,0,0,0,0,0,2017-05-04 23:59:00

In [6]:
df.to_csv('Metazygia monitor 1-test.csv')