In [1]:
#liz stacy ethan code
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import datetime
import os

col_names = ["Index", "DateD", "DateM", "DateY", "Time", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused", "Light"]

for i in range(1, 33):
    col_names.append(f"Sp{i}")

file = 'A10AM.csv'

df = pd.read_csv(file, names=col_names, sep='\s+', header=None)
print(df)
df = df.set_index('Index')
display(df)
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce')
display(df)
df = df[df["MonStatus"] == 1]

display(df)
month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
df['DateM'] = df['DateM'].str[:3].map(month_map)
#print(df['DateM'].
df['DateY'] = df['DateY'].apply(lambda x: int(str(20) + str(x)))
df['Date'] = pd.to_datetime(dict(year=df['DateY'], month=df['DateM'], day=df['DateD']), errors='coerce')

df['Time'] = pd.to_datetime(dict(year=df['Date'].dt.year,
                                     month=df['Date'].dt.month,
                                     day=df['Date'].dt.day,
                                     hour=df['Time'].dt.hour,
                                     minute=df['Time'].dt.minute,
                                     second=df['Time'].dt.second))

df = df.drop(["DateD", "DateM", "DateY", "Date", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused"], axis=1)

day_map = {day: idx+1 for idx, day in enumerate(df['Time'].dt.day.unique())}

df.insert(0, 'Day', df['Time'].dt.day.map(day_map))

#df.to_csv('steatodaA.csv')
display(df)

                                                  Index  DateD  DateM  DateY  \
0     1\t7 Mar 24\t10:34:00\t1\t0\t1\t0\tCt\t0\t1\t0...    NaN    NaN    NaN
1     2\t7 Mar 24\t10:35:00\t1\t0\t1\t0\tCt\t0\t1\t0...    NaN    NaN    NaN
2     3\t7 Mar 24\t10:36:00\t1\t0\t1\t0\tCt\t0\t1\t0...    NaN    NaN    NaN
3     4\t7 Mar 24\t10:37:00\t1\t0\t1\t0\tCt\t0\t1\t0...    NaN    NaN    NaN
4     5\t7 Mar 24\t10:38:00\t1\t0\t1\t0\tCt\t0\t1\t0...    NaN    NaN    NaN
...                                                 ...    ...    ...    ...
9080  9081\t13 Mar 24\t18:54:00\t1\t0\t1\t0\tCt\t0\t...    NaN    NaN    NaN
9081  9082\t13 Mar 24\t18:55:00\t1\t0\t1\t0\tCt\t0\t...    NaN    NaN    NaN
9082  9083\t13 Mar 24\t18:56:00\t1\t0\t1\t0\tCt\t0\t...    NaN    NaN    NaN
9083  9084\t13 Mar 24\t18:57:00\t1\t0\t1\t0\tCt\t0\t...    NaN    NaN    NaN
9084  9085\t13 Mar 24\t18:58:00\t1\t0\t1\t0\tCt\t0\t...    NaN    NaN    NaN

      Time  MonStatus  Extras  MonN  TubeN  DataType  ...  Sp23  Sp24  Sp25  \
0      NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
1      NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
2      NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
3      NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
4      NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
...    ...        ...     ...   ...    ...       ...  ...   ...   ...   ...
9080   NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
9081   NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
9082   NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
9083   NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN
9084   NaN        NaN     NaN   NaN    NaN       NaN  ...   NaN   NaN   NaN

      Sp26  Sp27  Sp28  Sp29  Sp30  Sp31  Sp32
0      NaN   NaN   NaN   NaN   NaN   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...   ...   ...
9080   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9081   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9082   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9083   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9084   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[9085 rows x 44 columns]

,DateD,DateM,DateY,Time,MonStatus,Extras,MonN,TubeN,DataType,Unused,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1\t7 Mar 24\t10:34:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t1\t0\t0\t0\t21\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t0\t0\t0\t5\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2\t7 Mar 24\t10:35:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t8\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t3\t0\t0\t6\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3\t7 Mar 24\t10:36:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t3\t0\t2\t0\t0\t7\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4\t7 Mar 24\t10:37:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t7\t7\t0\t0\t0\t0\t0\t0\t0\t0\t4\t0\t2\t0\t0\t4\t0\t0\t5\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5\t7 Mar 24\t10:38:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t2\t12\t6\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t1\t0\t0\t8\t0\t0\t2\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9081\t13 Mar 24\t18:54:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t5\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9082\t13 Mar 24\t18:55:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9083\t13 Mar 24\t18:56:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9084\t13 Mar 24\t18:57:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9085\t13 Mar 24\t18:58:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t3\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,DateD,DateM,DateY,Time,MonStatus,Extras,MonN,TubeN,DataType,Unused,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1\t7 Mar 24\t10:34:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t1\t0\t0\t0\t21\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t0\t0\t0\t5\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2\t7 Mar 24\t10:35:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t8\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t3\t0\t0\t6\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3\t7 Mar 24\t10:36:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t3\t0\t2\t0\t0\t7\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4\t7 Mar 24\t10:37:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t7\t7\t0\t0\t0\t0\t0\t0\t0\t0\t4\t0\t2\t0\t0\t4\t0\t0\t5\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5\t7 Mar 24\t10:38:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t2\t12\t6\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t1\t0\t0\t8\t0\t0\t2\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9081\t13 Mar 24\t18:54:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t5\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9082\t13 Mar 24\t18:55:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9083\t13 Mar 24\t18:56:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9084\t13 Mar 24\t18:57:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9085\t13 Mar 24\t18:58:00\t1\t0\t1\t0\tCt\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t3\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [DateD, DateM, DateY, Time, MonStatus, Extras, MonN, TubeN, DataType, Unused, Light, Sp1, Sp2, Sp3, Sp4, Sp5, Sp6, Sp7, Sp8, Sp9, Sp10, Sp11, Sp12, Sp13, Sp14, Sp15, Sp16, Sp17, Sp18, Sp19, Sp20, Sp21, Sp22, Sp23, Sp24, Sp25, Sp26, Sp27, Sp28, Sp29, Sp30, Sp31, Sp32]
Index: []

[0 rows x 43 columns]

AttributeError: Can only use .str accessor with string values!