# Working with transcript data frames

This Practice document is intended to give you some practice working with analysis of RNA seq data. Which is a large collection of gene couns collected at different experimental conditions. The basic Python knowlege is requred to successfully completing this Practice notebooK. If you are not comfortable working with this assignment, you might want to refresh some knowlege of Python (or learn some of the data science related Python techniques) by watching working through [Python for Data Analysis](https://www.linkedin.com/learning-login/share?account=55435129&forceAccount=false&redirect=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fpython-data-analysis-2%3Ftrk%3Dshare_ent_url%26shareId%3Dme4yPNxuRT2ijhL4wQL58Q%253D%253D) short course in LinkedIn platform. Just remember to login to [LinkedIn Learning](https://go.wlu.edu/learn) using your WLU id.

#### Download install and import all necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Download data file with transcript

In [2]:
df = pd.read_csv('small.gene.matrix.csv', index_col=0)
df

                        Subject1  Subject2  Subject3  Subject4
transcript
TRINITY_DN0_c0_g1        756.624   906.464   307.957   739.130
TRINITY_DN0_c13_g1         0.000     0.000     0.000     0.000
TRINITY_DN0_c1_g1        357.557   352.441   211.422   268.329
TRINITY_DN0_c1_g2          1.100     1.022     1.040     1.243
TRINITY_DN0_c2_g1          0.000     0.000     0.000     0.000
TRINITY_DN0_c40_g1         0.000     0.000     0.000     0.000
TRINITY_DN0_c41_g1         0.000     0.000     0.000     0.000
TRINITY_DN0_c43_g1         0.000     0.000     0.000     0.000
TRINITY_DN0_c44_g1         0.000     0.000     0.000     0.000
TRINITY_DN100001_c0_g1     0.000     0.000     0.000     0.000
TRINITY_DN100002_c0_g1     0.296     0.000     0.000     0.000
TRINITY_DN100003_c0_g1     0.000     0.000     0.000     0.000
TRINITY_DN100006_c0_g1     0.000     0.000     0.000     0.000
TRINITY_DN100007_c0_g1     0.000     0.198     0.539     0.000
TRINITY_DN100009_c0_g1     0.000     0.000     0.000     0.464
TRINITY_DN10000_c0_g1      0.307     0.188     0.501     0.445
TRINITY_DN10000_c1_g1      0.000     0.000     0.000     0.000
TRINITY_DN100010_c0_g1     0.000     0.000     0.000     0.000
TRINITY_DN100011_c0_g1     0.000     0.000     0.000     0.000
TRINITY_DN100012_c0_g1     0.000     0.000     0.000     0.000
TRINITY_DN100014_c0_g1     6.143     5.006     0.700     2.598
TRINITY_DN100015_c0_g1     0.000     0.709     0.000     0.000
TRINITY_DN100016_c0_g1     0.000     0.000     0.000     0.000
TRINITY_DN100018_c0_g1     0.000     0.000     0.000     0.668
TRINITY_DN10001_c0_g1      0.042     0.042     0.085     0.065
TRINITY_DN10001_c1_g1      0.486     0.000     0.719     0.566
TRINITY_DN10001_c1_g2      0.508     0.000     0.000     0.000
TRINITY_DN10001_c1_g3      0.000     0.000     0.558     0.510

### Data organization

The format of the data frame above is representative of our full file which onganizes transcripts in our RNA seq experiment. The index labels individual transcripts (if we knew the genome, we would refer to them as a gene, but since spider transcriptiome is unknown, than we refer to them as transcript, or chunks of RNA).  The numerical values represent expression level (count per milion base pairs). The individual subjects organized as columns.

## Experiment 1:number of subjects

In the cell below, writa a Python script to calcluate number of experimental subjects. Make informative printout

In [3]:
#number of columns
print("There are " + str(len(df.columns)) + " experimental subjects in the DataFrame.")

There are 4 experimental subjects in the DataFrame.

## Experiment 2:number of transcripts

Use the cell below to calcluate total number of transcripts. Make informative printout

In [4]:
#number of transcripts
print("There are " + str(len(df.index)) + " transcripts in the DataFrame")

There are 28 transcripts in the DataFrame

## Experiment 3: number of non-zero transcripts

Calcluate number of number of transcripts which has expression level equal zero.

In [5]:
a = df[(df.Subject1 == 0) & (df.Subject2 == 0) & (df.Subject3 == 0) & (df.Subject4 == 0)]
print("There are " + str(len(a))  + " transcripts that have an expression level of zero.")

There are 14 transcripts that have an expression level of zero.

## Experiment 4: filter zero transcript

We have to treat zero expressed transcripts quite carefuly. Some of them might be just experimental noise - that is the genes they code are never being express. However, some of the zero transcripts might be meaningful. Fo example, some of circadian protein is highly expressed during the day, but not expressed at night. Since our experimental subjects was collected at different times of day, we have to keep transcripts which differentially expressed in different subjects, but can safely remove transcripts which is zero for every subject. Make a new data frame called, df_nonzero, which contains only transcripts which has at least one non-zero level of expression. In other words, you have to remove transcripts which is zero for all subjects. How many non-zero transcripts do we have in our dataset? Provide informative printout

In [10]:
df_nonzero =  df[(df.Subject1 + df.Subject2 + df.Subject3 + df.Subject4 != 0)]
print("There are " + str(len(df_nonzero)) + " transcripts in the updated DataSet (14 non-zero transcripts)")

There are 14 transcripts in the updated DataSet (14 non-zero transcripts)

## Experiment 5:strenghening filtering criteria

Rna seq technique is quite noisy and some expression values might be due random chance alone. We can assume that if only one subject has non-zero expression, it is an experimental error. Let’s apply even stricter criteria for transcripts selection. Let’s also remove the transcripts which has only one non-zero subject. Save results in new frame called, df_nonzero1. How many transcripts do you have now? Provide informative printout

In [13]:
df_nonzerocopy = df_nonzero
df_nonzero.Subject1 = df_nonzero.Subject1.astype(bool)
df_nonzero.Subject2 = df_nonzero.Subject2.astype(bool)
df_nonzero.Subject3 = df_nonzero.Subject3.astype(bool)
df_nonzero.Subject4 = df_nonzero.Subject4.astype(bool)
df_nonzero.Subject1 = df_nonzero.Subject1.astype(int)
df_nonzero.Subject2 = df_nonzero.Subject2.astype(int)
df_nonzero.Subject3 = df_nonzero.Subject3.astype(int)
df_nonzero.Subject4 = df_nonzero.Subject4.astype(int)
df_nonzero1 = df_nonzero[(df_nonzero.Subject1 + df_nonzero.Subject2 + df_nonzero.Subject3 + df_nonzero.Subject4 != 1)]
print("There are " + str(len(df_nonzero1)) + " transcripts in the updated DataSet.")

There are 9 transcripts in the updated DataSet.

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [22]:
df_nonzero["true"] = df_nonzero.sum(axis = 1)
display(df_nonzero)
a = np.where(df_nonzero.true > 1)
print(a)

<ipython-input-22-0c8832d01023>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonzero["true"] = df_nonzero.sum(axis = 1)

                        Subject1  Subject2  Subject3  Subject4  true
transcript
TRINITY_DN0_c0_g1              1         1         1         1   4.0
TRINITY_DN0_c1_g1              1         1         1         1   4.0
TRINITY_DN0_c1_g2              1         1         1         1   4.0
TRINITY_DN100002_c0_g1         1         0         0         0   1.0
TRINITY_DN100007_c0_g1         0         1         1         0   2.0
TRINITY_DN100009_c0_g1         0         0         0         1   1.0
TRINITY_DN10000_c0_g1          1         1         1         1   4.0
TRINITY_DN100014_c0_g1         1         1         1         1   4.0
TRINITY_DN100015_c0_g1         0         1         0         0   1.0
TRINITY_DN100018_c0_g1         0         0         0         1   1.0
TRINITY_DN10001_c0_g1          1         1         1         1   4.0
TRINITY_DN10001_c1_g1          1         0         1         1   3.0
TRINITY_DN10001_c1_g2          1         0         0         0   1.0
TRINITY_DN10001_c1_g3          0         0         1         1   2.0

(array([ 0,  1,  2,  4,  6,  7, 10, 11, 13], dtype=int64),)

In [30]:
df_nonzero = df_nonzero.reset_index()
display(df_nonzero)

Empty DataFrame
Columns: [index, transcript, Subject1, Subject2, Subject3, Subject4, true]
Index: []

## Experiment 6:setting expression threshold

So far we only remove transcripts which was exactly zero, however very small non-zero values of expression can also be due noise alone. Let’s apply the non-zero expression threshold to filter our transcripts which has three or more subjects below 0.3. How many transcript do you have now?

In [8]:
df_nonzero.Subject1 = df_nonzero.Subject1[df_nonzero.Subject1 >= 0.3]
df_nonzero

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                        Subject1  Subject2  Subject3  Subject4
transcript
TRINITY_DN0_c0_g1            1.0         1         1         1
TRINITY_DN0_c1_g1            1.0         1         1         1
TRINITY_DN0_c1_g2            1.0         1         1         1
TRINITY_DN100002_c0_g1       1.0         0         0         0
TRINITY_DN100007_c0_g1       NaN         1         1         0
TRINITY_DN100009_c0_g1       NaN         0         0         1
TRINITY_DN10000_c0_g1        1.0         1         1         1
TRINITY_DN100014_c0_g1       1.0         1         1         1
TRINITY_DN100015_c0_g1       NaN         1         0         0
TRINITY_DN100018_c0_g1       NaN         0         0         1
TRINITY_DN10001_c0_g1        1.0         1         1         1
TRINITY_DN10001_c1_g1        1.0         0         1         1
TRINITY_DN10001_c1_g2        1.0         0         0         0
TRINITY_DN10001_c1_g3        NaN         0         1         1

## Experiment 7: writing transcripts in a file

Extract names of filtered transcripts from Experiment 6 and save them in a .csv file. The file should contain subjec names in a firsts row.

In [37]:
df_nonzero2.to_csv()

NameError: name 'df_nonzero2' is not defined

## Experiment 8: names of experimental subjects

Use appropriate commands to extract names of experimental subjects. Save them in .csv file.

In [74]:
col_list = []
for col in df_nonzero2:
    col_list.append(col)
df1 = pd.DataFrame(col_list)
df1.to_csv()

',0\r\n0,Subject1\r\n1,Subject2\r\n2,Subject3\r\n3,Subject4\r\n'