# Testing Functions for Calculating Activity Onset

### In this notebook:
- I will be testing necessary functions for calculating activity onset

In [83]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta
from scipy.stats import sem

#Read Spider activity CSV file
df = pd.read_csv('Metazygia wittfeldae Monitor 1 Updated_LD.csv',)
df.set_index('Date-Time', inplace = True)

#Turn date-time column into datetime format
df.index = pd.to_datetime(df.index)

#Cut out certain columns and rows to make data more managable to test on
df.drop(df.iloc[:, 2:], axis = 1, inplace = True)

df

                     Light  Monitor 1 Spider 1
Date-Time
2017-04-21 00:00:00      0                   0
2017-04-21 00:01:00      0                   0
2017-04-21 00:02:00      0                   0
2017-04-21 00:03:00      0                   0
2017-04-21 00:04:00      0                   0
...                    ...                 ...
2017-04-25 23:55:00      0                  15
2017-04-25 23:56:00      0                   6
2017-04-25 23:57:00      0                  12
2017-04-25 23:58:00      0                   5
2017-04-25 23:59:00      0                  12

[7200 rows x 2 columns]

In [2]:
#This function adds a column to the dataframe with the minute out of the day for that particular row
def add_minutes_column(df):
    df['Total Minutes'] = df.index.minute + (df.index.hour * 60)
    return(df)

In [3]:
#Testing add minutes to dataframe function
add_minutes_column(df)

                     Light  Monitor 1 Spider 1  Total Minutes
Date-Time
2017-04-21 00:00:00      0                   0              0
2017-04-21 00:01:00      0                   0              1
2017-04-21 00:02:00      0                   0              2
2017-04-21 00:03:00      0                   0              3
2017-04-21 00:04:00      0                   0              4
...                    ...                 ...            ...
2017-04-25 23:55:00      0                  15           1435
2017-04-25 23:56:00      0                   6           1436
2017-04-25 23:57:00      0                  12           1437
2017-04-25 23:58:00      0                   5           1438
2017-04-25 23:59:00      0                  12           1439

[7200 rows x 3 columns]

### These functions are used throughout my code to separate the dataframe into multiple days

In [4]:
#This function is used to create a list of indexes to be used to separate the days
def find_light_switch_index(df):
    transition_time = '07:00:00'
    transition_indexes_df = df.loc[df.index.strftime("%H:%M:%S") == transition_time]
    transition_indexes_list = transition_indexes_df.index.to_list()
    
    return transition_indexes_list

In [5]:
#Test this function
find_light_switch_index(df)

[Timestamp('2017-04-21 07:00:00'),
 Timestamp('2017-04-22 07:00:00'),
 Timestamp('2017-04-23 07:00:00'),
 Timestamp('2017-04-24 07:00:00'),
 Timestamp('2017-04-25 07:00:00')]

### The following function creates a new dataframe for every "day". The days are defined by the time the light turns on in the morning and ends when the lights turn on the next morning

In [6]:
#This function is used in my bigger functions to separate days. Creates a list of dataframes, with each dataframe containing a 
def create_list_of_df(transition_indexes_list, df):
    list_of_df = []
    for x in range(len(transition_indexes_list)-1):
        list_of_df.append(df[(df.index >= transition_indexes_list[x]) & (df.index < transition_indexes_list[x+1])])
    return(list_of_df)

In [7]:
#Testing create list of dataframe function
first_step = find_light_switch_index(df)

second_step = create_list_of_df(first_step, df)

print(second_step)

[                     Light  Monitor 1 Spider 1  Total Minutes
Date-Time
2017-04-21 07:00:00      0                   0            420
2017-04-21 07:01:00      1                   1            421
2017-04-21 07:02:00      1                  10            422
2017-04-21 07:03:00      1                   9            423
2017-04-21 07:04:00      1                   6            424
...                    ...                 ...            ...
2017-04-22 06:55:00      0                   0            415
2017-04-22 06:56:00      0                   0            416
2017-04-22 06:57:00      0                   0            417
2017-04-22 06:58:00      0                   0            418
2017-04-22 06:59:00      0                   0            419

[1440 rows x 3 columns],                      Light  Monitor 1 Spider 1  Total Minutes
Date-Time
2017-04-22 07:00:00      0                   0            420
2017-04-22 07:01:00      1                   0            421
2017-04-22 07:02:00      1                   0            422
2017-04-22 07:03:00      1                   0            423
2017-04-22 07:04:00      1                   0            424
...                    ...                 ...            ...
2017-04-23 06:55:00      0                   0            415
2017-04-23 06:56:00      0                   0            416
2017-04-23 06:57:00      0                   0            417
2017-04-23 06:58:00      0                   0            418
2017-04-23 06:59:00      0                   0            419

[1440 rows x 3 columns],                      Light  Monitor 1 Spider 1  Total Minutes
Date-Time
2017-04-23 07:00:00      0                   0            420
2017-04-23 07:01:00      1                   0            421
2017-04-23 07:02:00      1                   0            422
2017-04-23 07:03:00      1                   0            423
2017-04-23 07:04:00      1                   0            424
...                    ...                 ...            ...
2017-04-24 06:55:00      0                   0            415
2017-04-24 06:56:00      0                   0            416
2017-04-24 06:57:00      0                   0            417
2017-04-24 06:58:00      0                   0            418
2017-04-24 06:59:00      0                   0            419

[1440 rows x 3 columns],                      Light  Monitor 1 Spider 1  Total Minutes
Date-Time
2017-04-24 07:00:00      0                   0            420
2017-04-24 07:01:00      1                   0            421
2017-04-24 07:02:00      1                   0            422
2017-04-24 07:03:00      1                   0            423
2017-04-24 07:04:00      1                   0            424
...                    ...                 ...            ...
2017-04-25 06:55:00      0                   0            415
2017-04-25 06:56:00      0                   0            416
2017-04-25 06:57:00      0                   0            417
2017-04-25 06:58:00      0                   0            418
2017-04-25 06:59:00      0                   0            419

[1440 rows x 3 columns]]

### The following function will not be necessary when using the multiple spider dataframe, only for the test data

In [8]:
#Create function that places spider activity in the first column, as this is one of the parameters for the calculate activity onset code
def move_activity_column_to_0_index(df):
    first_column = df.pop('Monitor 1 Spider 1')
    df.insert(0, 'Monitor 1 Spider 1', first_column)
    return df

In [9]:
# Test column switch function
move_activity_column_to_0_index(df)

                     Monitor 1 Spider 1  Light  Total Minutes
Date-Time
2017-04-21 00:00:00                   0      0              0
2017-04-21 00:01:00                   0      0              1
2017-04-21 00:02:00                   0      0              2
2017-04-21 00:03:00                   0      0              3
2017-04-21 00:04:00                   0      0              4
...                                 ...    ...            ...
2017-04-25 23:55:00                  15      0           1435
2017-04-25 23:56:00                   6      0           1436
2017-04-25 23:57:00                  12      0           1437
2017-04-25 23:58:00                   5      0           1438
2017-04-25 23:59:00                  12      0           1439

[7200 rows x 3 columns]

### The following function is used to add a rolling average column over 30 bins to the original dataframe

##### *** This is why the spider activity must be in the first column! When more spiders are introduced to the dataframe, the for loop used to calculate activity onset places the spider name in column 1

In [10]:
#Create add rolling average to dataframe function
def add_rolling_average_column(df):
    #calculate rolling average of activity
    activity = df.iloc[: , 0]
    rolling = activity.rolling(30).mean().dropna()

    #Add new column to dataframe with the rolling mean
    df['Rolling'] = rolling
    return df

In [11]:
#Test add rolling function
add_rolling_average_column(df)

                     Monitor 1 Spider 1  Light  Total Minutes   Rolling
Date-Time
2017-04-21 00:00:00                   0      0              0       NaN
2017-04-21 00:01:00                   0      0              1       NaN
2017-04-21 00:02:00                   0      0              2       NaN
2017-04-21 00:03:00                   0      0              3       NaN
2017-04-21 00:04:00                   0      0              4       NaN
...                                 ...    ...            ...       ...
2017-04-25 23:55:00                  15      0           1435  2.700000
2017-04-25 23:56:00                   6      0           1436  2.900000
2017-04-25 23:57:00                  12      0           1437  3.300000
2017-04-25 23:58:00                   5      0           1438  3.466667
2017-04-25 23:59:00                  12      0           1439  3.866667

[7200 rows x 4 columns]

## The following 2 functions will be used within the calculate activity onset function

In [20]:
#This function finds all times when lights turn on and off and returns the index of these occurrences
def find_lights_turn_on_off(df):
    lights_turn_on_off = df[df['Light'].diff() != 0]
    
    return lights_turn_on_off

In [21]:
find_lights_turn_on_off(df)

                     Monitor 1 Spider 1  Light  Total Minutes   Rolling
Date-Time
2017-04-21 00:00:00                 1.0    1.0          421.0  0.233333
2017-04-21 07:01:00                 0.0    0.0         1142.0  0.033333
2017-04-21 19:02:00                 0.0    1.0          421.0  0.000000
2017-04-22 07:01:00                 0.0    0.0         1142.0  0.033333
2017-04-22 19:02:00                 0.0    1.0          421.0  0.000000
2017-04-23 07:01:00                 0.0    0.0         1142.0  0.033333
2017-04-23 19:02:00                 0.0    1.0          421.0  0.000000
2017-04-24 07:01:00                 0.0    0.0         1142.0  0.033333
2017-04-24 19:02:00                 0.0    1.0          421.0  0.000000
2017-04-25 07:01:00                 0.0    0.0         1142.0  0.033333
2017-04-25 19:02:00                 NaN    NaN            NaN       NaN

In [12]:
#Still working on this function
#Need to figure out a way to only calculate activity onset using nightly values

In [130]:
#This function calculates the threshold value for a given day and appends the first instance where the threshold was crossed to a dataframe
def calculate_threshold(list_of_df):
    activity_onset_values = []
    for i in list_of_df:
        #calculate treshold
        stdv = i.Rolling.std()
        threshold = i.Rolling.mean() + stdv
        
        #find all points where rolling average of activity is above the threshold 
        threshold_crossings = i[i.Rolling > threshold].index
        
        #append first threshold crossing to the activity onset list every day
        if len(threshold_crossings) > 0:
            activity_onset_values.append(str(threshold_crossings[0].time()))
        else:
            activity_onset_values.append('NaN')
    
    return activity_onset_values

In [131]:
#Test calculate_threshold function using calculate_threshold and create_list_of_df functions
transition_indexes_list = find_light_switch_index(df)

list_of_df = create_list_of_df(transition_indexes_list, df)

activity_onset_values = calculate_threshold(second_step)

activity_onset_values

['19:43:00', '19:50:00', '19:36:00', '19:31:00']

### The following function is the final function for calculating activity onset; It takes the list of activity onsets and creates a dataframe for it

In [ ]:
#STILL WORKING ON THIS FUNCTION, having problems

In [ ]:
#Create activity onset dataframe function
def create_activity_onset_df(activity_onset_values):
    #define necessary variables and set up empty dataframe for following function
    lights_off = 1142
    list_of_days = list(pd.unique(df.index.date))
    list_of_days_for_df = list_of_days[1:]
    column_names = ['Date', 'Activity Onset']
    activity_onset_df = pd.DataFrame(columns = column_names)
    activity_onset_df['Date'] = list_of_days_for_df
    
    #subtract minutes from light onset from calculated value to get activity onset in relation to when lights turn on
    activity_onset_values_subtracted = []
    
    for x in activity_onset_values:
        if x != 'NaN':
            activity_onset_values_subtracted.append(x - lights_off)
        else:
            activity_onset_values_subtracted.append('NaN')
    
    #set this list as the activity onset column of the empty dataframe
    activity_onset_df['Activity Onset'] = activity_onset_values_subtracted
    activity_onset_df = activity_onset_df.set_index('Date')
    
    print('NaN values represent days where threshold was not crossed')
    return activity_onset_df

In [ ]:
#Test this function using a 3 step process including the 2 functions previously used

step4 = create_activity_onset_df(third_step)

display(step4)