# Replacing Activity Onset Means with Medians

## In this notebook, I will replace activity onset means with medians and replace the values in the data zoo dataframe

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as matdates
from datetime import timedelta
import os

### Import df

In [2]:
os.chdir("/Users/willcatalano/Library/CloudStorage/Box-Box/Spider Data Zoo/Zoo by specie/Metazygia wittfeldae/Activity Onset")

#define monitors and species, THIS WILL BE CHANGED LATER
filename = "Metazygia wittfeldae Monitor 1 Updated_LD"

#Import mean activity onset df
activity_onset_df = pd.read_csv(filename + " Activity Onset Values.csv")

#drop date column
activity_onset_df = activity_onset_df.iloc[: , 1:]

activity_onset_df

,Monitor 1 Spider 1,Monitor 1 Spider 2,Monitor 1 Spider 3,Monitor 1 Spider 4,Monitor 1 Spider 5,Monitor 1 Spider 6,Monitor 1 Spider 7,Monitor 1 Spider 8,Monitor 1 Spider 9,Monitor 1 Spider 10,...,Monitor 1 Spider 21,Monitor 1 Spider 23,Monitor 1 Spider 25,Monitor 1 Spider 26,Monitor 1 Spider 27,Monitor 1 Spider 28,Monitor 1 Spider 29,Monitor 1 Spider 30,Monitor 1 Spider 31,Monitor 1 Spider 32
0,30.0,68.0,38.0,61.0,36.0,33.0,54.0,33.0,43.0,63.0,...,46.0,128.0,51.0,36.0,32.0,73.0,35.0,182.0,25.0,33.0
1,43.0,37.0,41.0,59.0,39.0,25.0,27.0,42.0,34.0,NaN,...,26.0,91.0,33.0,37.0,34.0,54.0,31.0,54.0,34.0,37.0
2,28.0,35.0,26.0,63.0,31.0,38.0,36.0,45.0,38.0,36.0,...,21.0,88.0,47.0,23.0,28.0,49.0,26.0,45.0,24.0,33.0
3,24.0,27.0,29.0,35.0,34.0,28.0,34.0,21.0,28.0,47.0,...,32.0,70.0,47.0,36.0,28.0,51.0,30.0,29.0,24.0,27.0
4,37.0,36.0,34.0,42.0,36.0,26.0,33.0,25.0,34.0,54.0,...,32.0,77.0,67.0,27.0,24.0,52.0,18.0,44.0,37.0,43.0

### Define Necessary Functions

In [3]:
#this function will loop through the folders in the spider data zoo to gather spider names
directory = "/Users/willcatalano/Library/CloudStorage/Box-Box/Spider Data Zoo/Zoo by specie"

### This function creates list that counts the number of days that each spider has an activity onset for
def activity_onset_days(activity_onset_df):
    
    activity_onset_days = activity_onset_df.count()
    
    return activity_onset_days

def get_species_names(directory):
    
    #create empty list to append names
    species_names = []
    
    #loop through folders in given directory
    for folder in os.listdir(directory):
        
        #only select folders starting with capital letter, as these are the species names
        if folder == folder.capitalize():
        
            #append names of files to empty list
            species_names.append(folder)
        
    
    return species_names

#this function will take activity onset values and calculate the median activity onset for each individual
def calculate_activity_onset_medians(activity_onset_df):
    
    #create empty list to append means to
    activity_onset_medians_list = []

    #remove date column
    activity_onset_medians_df = activity_onset_df
    
    #take median activity onset for each spider and append to list
    column_names = list(activity_onset_medians_df)
    
    #calculate median of every column
    for x in column_names:
        
        median_activity_onset = np.nanmedian(activity_onset_medians_df[x])
        
        activity_onset_medians_list.append(median_activity_onset)
    
    #append averages as the last row of the dataframe
    activity_onset_medians_df.loc[len(activity_onset_medians_df)] = activity_onset_medians_list
    
    return activity_onset_medians_df

#this function will take the sem of every spider
def calculate_sem(activity_onset_df, activity_onset_medians_df):
    
    #create new df
    activity_onset_medians_sem = activity_onset_df
    
    #count number of days activity onset occurs
    activity_onset_days_df = activity_onset_days(activity_onset_medians_df)
    
    #create empty list to append sem to
    activity_onset_sem_list = []
    
    #get col names
    column_names = list(activity_onset_medians_df)
    
    #calculate sem
    for x in column_names:
        
        sem_activity_onset = np.std(activity_onset_medians_df[x][:-1], ddof=1) / np.sqrt(np.size(activity_onset_days_df[x]))
        
        activity_onset_sem_list.append(sem_activity_onset)
    
    #append sems as the last row of the dataframe
    activity_onset_medians_sem.loc[len(activity_onset_medians_df)] = activity_onset_sem_list
    
    return activity_onset_medians_sem

#this function will create the final df, with one column containing sem and one containing median activity onset
def create_median_sem_df(activity_onset_medians_sem):
    
    #flip columns and rows of df
    activity_onset_medians_sem_T = activity_onset_medians_sem.transpose()
    
    #select for last two columns, as those contain sem and median
    activity_onset_medians_sem_T = activity_onset_medians_sem_T.iloc[: , -2:]
    
    #rename columns
    activity_onset_medians_sem_T = activity_onset_medians_sem_T.rename(columns = {activity_onset_medians_sem_T.columns[-2] : 'Median Activity Onset',
                                                                                  activity_onset_medians_sem_T.columns[-1] : 'SEM'}) 
    #save df as csv file
    activity_onset_medians_sem_T.to_csv(filename + " Median Activity Onsets.csv")
    
    return activity_onset_medians_sem_T

### Test Functions

In [4]:
activity_onset_medians_df = calculate_activity_onset_medians(activity_onset_df)

activity_onset_medians_sem = calculate_sem(activity_onset_df, activity_onset_medians_df)

final_median_activity_onset_df = create_median_sem_df(activity_onset_medians_sem)

final_median_activity_onset_df

                     Median Activity Onset        SEM
Monitor 1 Spider 1                    30.0   7.569676
Monitor 1 Spider 2                    36.0  15.820872
Monitor 1 Spider 3                    34.0   6.188699
Monitor 1 Spider 4                    59.0  12.649111
Monitor 1 Spider 5                    36.0   2.949576
Monitor 1 Spider 6                    28.0   5.431390
Monitor 1 Spider 7                    34.0  10.183320
Monitor 1 Spider 8                    33.0  10.401923
Monitor 1 Spider 9                    34.0   5.549775
Monitor 1 Spider 10                   50.5  11.401754
Monitor 1 Spider 11                   28.0   2.792848
Monitor 1 Spider 12                   47.0  22.928149
Monitor 1 Spider 13                   44.5   3.500000
Monitor 1 Spider 14                   47.0   9.899495
Monitor 1 Spider 15                   69.5  14.479871
Monitor 1 Spider 16                   54.5  12.987173
Monitor 1 Spider 18                   42.0   3.577709
Monitor 1 Spider 19                   43.0   5.338539
Monitor 1 Spider 20                   27.0   9.137833
Monitor 1 Spider 21                   32.0   9.370165
Monitor 1 Spider 23                   88.0  22.443262
Monitor 1 Spider 25                   47.0  12.165525
Monitor 1 Spider 26                   36.0   6.379655
Monitor 1 Spider 27                   28.0   3.898718
Monitor 1 Spider 28                   52.0   9.782638
Monitor 1 Spider 29                   30.0   6.442049
Monitor 1 Spider 30                   45.0  62.806847
Monitor 1 Spider 31                   25.0   6.220932
Monitor 1 Spider 32                   33.0   5.899152

In [31]:
final_median_activity_onset_df.index[0]#.index.split(" ")

'Monitor 1 Spider 1'

In [16]:
#splitting index into species and spider number
def split_monitor_and_spider(final_median_activity_onset_df):
    
    #create two empty lists to hold monitor and spider names
    monitor_list = []
    spider_list = []
    
    for i in range(len(final_median_activity_onset_df)):
        
        #split index names into four elements
        monitor1, number1, spider1, number2 = final_median_activity_onset_df.index[i].split(" ")
        
        #combnine monitor name and number and spider name and number
        monitor = monitor1 + " " + number1
        spider = spider1 + " " + number2
        
        monitor_list.append(monitor)
        spider_list.append(spider)
        
    #fill columns with spider and monitor names
    final_median_activity_onset_df["Monitor"] = monitor_list
    final_median_activity_onset_df["Spider"] = spider_list
    
    return final_median_activity_onset_df

median_activity_df = split_monitor_and_spider(final_median_activity_onset_df)

median_activity_df

                     Median Activity Onset        SEM    Monitor     Spider
Monitor 1 Spider 1                    30.0   7.569676  Monitor 1   Spider 1
Monitor 1 Spider 2                    36.0  15.820872  Monitor 1   Spider 2
Monitor 1 Spider 3                    34.0   6.188699  Monitor 1   Spider 3
Monitor 1 Spider 4                    59.0  12.649111  Monitor 1   Spider 4
Monitor 1 Spider 5                    36.0   2.949576  Monitor 1   Spider 5
Monitor 1 Spider 6                    28.0   5.431390  Monitor 1   Spider 6
Monitor 1 Spider 7                    34.0  10.183320  Monitor 1   Spider 7
Monitor 1 Spider 8                    33.0  10.401923  Monitor 1   Spider 8
Monitor 1 Spider 9                    34.0   5.549775  Monitor 1   Spider 9
Monitor 1 Spider 10                   50.5  11.401754  Monitor 1  Spider 10
Monitor 1 Spider 11                   28.0   2.792848  Monitor 1  Spider 11
Monitor 1 Spider 12                   47.0  22.928149  Monitor 1  Spider 12
Monitor 1 Spider 13                   44.5   3.500000  Monitor 1  Spider 13
Monitor 1 Spider 14                   47.0   9.899495  Monitor 1  Spider 14
Monitor 1 Spider 15                   69.5  14.479871  Monitor 1  Spider 15
Monitor 1 Spider 16                   54.5  12.987173  Monitor 1  Spider 16
Monitor 1 Spider 18                   42.0   3.577709  Monitor 1  Spider 18
Monitor 1 Spider 19                   43.0   5.338539  Monitor 1  Spider 19
Monitor 1 Spider 20                   27.0   9.137833  Monitor 1  Spider 20
Monitor 1 Spider 21                   32.0   9.370165  Monitor 1  Spider 21
Monitor 1 Spider 23                   88.0  22.443262  Monitor 1  Spider 23
Monitor 1 Spider 25                   47.0  12.165525  Monitor 1  Spider 25
Monitor 1 Spider 26                   36.0   6.379655  Monitor 1  Spider 26
Monitor 1 Spider 27                   28.0   3.898718  Monitor 1  Spider 27
Monitor 1 Spider 28                   52.0   9.782638  Monitor 1  Spider 28
Monitor 1 Spider 29                   30.0   6.442049  Monitor 1  Spider 29
Monitor 1 Spider 30                   45.0  62.806847  Monitor 1  Spider 30
Monitor 1 Spider 31                   25.0   6.220932  Monitor 1  Spider 31
Monitor 1 Spider 32                   33.0   5.899152  Monitor 1  Spider 32

In [17]:
# this function will take the current path and spider name and retrieve the summary file for that spider
current_path = "/Users/willcatalano/Library/CloudStorage/Box-Box/Spider activity analysis Fall 2022/Activity Onset/Sandbox folder for Spider Data Organization/Spider Data Zoo/"
spider_name = "Metazygia wittfeldae"


#define function
def get_summary_file(spider_name):
    
    #change directory to spider of interest
    os.chdir(current_path + spider_name)
    
    #read summary file
    current_summary = pd.read_csv(spider_name + " summary.csv")
    
    return current_summary

In [18]:
#test function
metazygia_summary = get_summary_file(spider_name)

metazygia_summary

,Specie Name,Unnamed: 0,Spider ID,Conditions,Is stationary,LombSc period,LombSc amplitude,LombSc p value,Masking,Mean actiivty onset,DiNoc ratio,Activity/Rest Ratio,Mean vector lengh,Mean vector angle
0,Metazygia wittfeldae,0,Monitor 1 Spider 1,LD,1,23.858661,3463.947923,0.000000e+00,NaN,19:27:00,-1.948302,0.174551,0.699400,-25.467062
1,Metazygia wittfeldae,1,Monitor 1 Spider 2,LD,1,24.244339,17960.212410,0.000000e+00,NaN,19:31:00,-1.968857,0.219099,0.788889,-26.193667
2,Metazygia wittfeldae,2,Monitor 1 Spider 3,LD,1,23.670387,11781.425790,0.000000e+00,NaN,19:21:00,-1.955786,0.322800,0.722130,-14.157219
3,Metazygia wittfeldae,3,Monitor 1 Spider 4,LD,1,24.342715,10419.362980,0.000000e+00,NaN,19:41:00,-1.966046,0.356699,0.635362,9.598347
4,Metazygia wittfeldae,4,Monitor 1 Spider 5,LD,1,22.771896,3480.132789,0.000000e+00,NaN,19:31:00,-1.945309,0.154031,0.671291,-15.133155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Metazygia wittfeldae,75,Monitor 2 Spider 7,DD,1,23.293014,821.410174,0.000000e+00,NaN,NaN,NaN,0.221144,0.149959,-54.421162
76,Metazygia wittfeldae,76,Monitor 2 Spider 8,DD,1,18.503683,149.470711,4.940000e-60,NaN,NaN,NaN,0.032999,0.510944,-54.890594
77,Metazygia wittfeldae,77,Monitor 2 Spider 9,DD,1,18.130890,1212.939559,0.000000e+00,NaN,NaN,NaN,0.154154,0.243929,30.395742
78,Metazygia wittfeldae,78,Monitor 2 Spider 10,DD,1,22.469122,1223.264544,0.000000e+00,NaN,NaN,NaN,0.058737,0.746438,-52.457122
79,Metazygia wittfeldae,79,Monitor 2 Spider 11,DD,1,23.343364,7900.246264,0.000000e+00,NaN,NaN,NaN,0.157970,0.763080,-34.507678

In [31]:
#this function will replace the activity onsets in the summary file with the median activity onsets calculated

def replace_activity_onsets_with_medians(summary_file, median_activity_onsets_df):
    
    #create copy of summary file so that the original is not modified
    summary_file_updated = summary_file.copy()
    
    #loop through length of activity onset df
    for x in range(len(median_activity_onsets_df)):
        
        #loop through spider names in summary file
        for i in summary_file_updated["Spider ID"]:
            
            if median_activity_onsets_df.index[x] in i: 
                
                #replace activity onsets when spider IDs match, this way we dont have to worry about missing spiders
                summary_file_updated.loc[summary_file_updated["Spider ID"] == median_activity_onsets_df.index[x], "Mean actiivty onset"] = median_activity_onsets_df["Median Activity Onset"][x] 
    
    #CAN ALSO CREATE COLUMN FOR SEM, JUST NEED TO FIGURE OUT FORMATTING
    return summary_file_updated

summary_file_updated = replace_activity_onsets_with_medians(metazygia_summary, median_activity_df)

summary_file_updated

,Specie Name,Unnamed: 0,Spider ID,Conditions,Is stationary,LombSc period,LombSc amplitude,LombSc p value,Masking,Mean actiivty onset,DiNoc ratio,Activity/Rest Ratio,Mean vector lengh,Mean vector angle
0,Metazygia wittfeldae,0,Monitor 1 Spider 1,LD,1,23.858661,3463.947923,0.000000e+00,NaN,30,-1.948302,0.174551,0.699400,-25.467062
1,Metazygia wittfeldae,1,Monitor 1 Spider 2,LD,1,24.244339,17960.212410,0.000000e+00,NaN,36,-1.968857,0.219099,0.788889,-26.193667
2,Metazygia wittfeldae,2,Monitor 1 Spider 3,LD,1,23.670387,11781.425790,0.000000e+00,NaN,34,-1.955786,0.322800,0.722130,-14.157219
3,Metazygia wittfeldae,3,Monitor 1 Spider 4,LD,1,24.342715,10419.362980,0.000000e+00,NaN,59,-1.966046,0.356699,0.635362,9.598347
4,Metazygia wittfeldae,4,Monitor 1 Spider 5,LD,1,22.771896,3480.132789,0.000000e+00,NaN,36,-1.945309,0.154031,0.671291,-15.133155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Metazygia wittfeldae,75,Monitor 2 Spider 7,DD,1,23.293014,821.410174,0.000000e+00,NaN,NaN,NaN,0.221144,0.149959,-54.421162
76,Metazygia wittfeldae,76,Monitor 2 Spider 8,DD,1,18.503683,149.470711,4.940000e-60,NaN,NaN,NaN,0.032999,0.510944,-54.890594
77,Metazygia wittfeldae,77,Monitor 2 Spider 9,DD,1,18.130890,1212.939559,0.000000e+00,NaN,NaN,NaN,0.154154,0.243929,30.395742
78,Metazygia wittfeldae,78,Monitor 2 Spider 10,DD,1,22.469122,1223.264544,0.000000e+00,NaN,NaN,NaN,0.058737,0.746438,-52.457122
79,Metazygia wittfeldae,79,Monitor 2 Spider 11,DD,1,23.343364,7900.246264,0.000000e+00,NaN,NaN,NaN,0.157970,0.763080,-34.507678

In [ ]:
species_names = get_species_names(directory)

def get_monitors(species_names):
    
    monitors = []
    
    for x in species_names:
        for folder in os.listdir(directory + "/" + x + "/Activity Onset"):
            #only select folders starting with capital letter, as these are the species names
            if folder == folder.capitalize():
        
                #append names of files to empty list
                monitors.append(folder)
                
    return monitors
                
aaa = get_monitors(species_names)

print(aaa)