# Reindex activity data

With this code we want to reindex the data by grouping rows into 2 and find the average. This is to possible reduce error in our findings when it comes to random values of 0.

In [26]:
import pandas as pd
import numpy as np

file_names = "Metazygia wittfeldae Monitor 1 activity"

df = pd.read_csv(file_names + '.csv')
df["Date_Time"] = pd.to_datetime(df.Date + ' ' + df.Time)
df = df.set_index("Date_Time")

display(df.head(20))

df1 = df.copy()
df1 = df1.loc[:, df1.columns.str.startswith('s')]

,Date,Time,lights,s1,s2,s3,s4,s5,s6,s7,...,s23,s24,s25,s26,s27,s28,s29,s30,s31,s32
Date_Time,,,,,,,,,,,,,,,,,,,,,
2017-06-10 12:25:00,10-Jun-17,12:25:00,1,0,3,0,0,0,15,15,...,0,0,5,0,0,0,0,0,0,0
2017-06-10 12:26:00,10-Jun-17,12:26:00,1,0,3,0,0,0,63,2,...,0,0,5,0,0,0,0,0,0,0
2017-06-10 12:27:00,10-Jun-17,12:27:00,1,0,1,0,0,7,5,0,...,1,0,0,18,1,0,0,0,0,0
2017-06-10 12:28:00,10-Jun-17,12:28:00,1,0,5,0,0,3,11,0,...,2,0,0,4,1,0,0,0,0,0
2017-06-10 12:29:00,10-Jun-17,12:29:00,1,0,0,0,0,0,0,0,...,0,0,4,1,2,0,0,0,0,0
2017-06-10 12:30:00,10-Jun-17,12:30:00,1,0,13,0,0,2,0,0,...,3,0,0,8,0,0,0,0,0,0
2017-06-10 12:31:00,10-Jun-17,12:31:00,1,0,10,0,0,9,0,0,...,2,0,0,7,0,0,0,0,0,0
2017-06-10 12:32:00,10-Jun-17,12:32:00,1,0,42,0,0,0,0,0,...,2,5,0,11,0,0,0,0,0,0
2017-06-10 12:33:00,10-Jun-17,12:33:00,1,0,6,0,0,0,0,0,...,10,5,0,22,0,0,0,0,0,0
2017-06-10 12:34:00,10-Jun-17,12:34:00,1,0,26,0,0,4,0,0,...,0,0,0,0,5,0,0,0,0,0
2017-06-10 12:35:00,10-Jun-17,12:35:00,1,0,19,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,37
2017-06-10 12:36:00,10-Jun-17,12:36:00,1,0,10,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,22
2017-06-10 12:37:00,10-Jun-17,12:37:00,1,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-10 12:38:00,10-Jun-17,12:38:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
2017-06-10 12:39:00,10-Jun-17,12:39:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
2017-06-10 12:40:00,10-Jun-17,12:40:00,1,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,13
2017-06-10 12:41:00,10-Jun-17,12:41:00,1,0,0,0,0,0,0,0,...,0,0,30,1,0,0,0,0,0,13
2017-06-10 12:42:00,10-Jun-17,12:42:00,1,0,0,0,0,3,0,0,...,0,0,23,17,0,0,0,0,0,0
2017-06-10 12:43:00,10-Jun-17,12:43:00,1,0,0,0,0,1,0,0,...,0,0,14,13,0,0,0,0,0,0
2017-06-10 12:44:00,10-Jun-17,12:44:00,1,0,0,0,0,0,0,0,...,0,0,14,7,0,0,0,0,0,0

In [16]:
df = df.groupby(np.arange(len(df))//2).mean()

display(df)

,lights,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,s23,s24,s25,s26,s27,s28,s29,s30,s31,s32
0,1.0,0.0,3.0,0.0,0.0,0.0,39.0,8.5,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,3.0,0.0,0.0,5.0,8.0,0.0,1.5,0.0,...,1.5,0.0,0.0,11.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,6.5,0.0,0.0,1.0,0.0,0.0,1.5,0.0,...,1.5,0.0,2.0,4.5,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,26.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,...,2.0,2.5,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,5.0,2.5,0.0,11.0,2.5,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12997,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.5,0.0,0.0,0.0
13000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.5,0.0,0.0

In [12]:
df.to_csv(file_names + "_reindex.csv")

# Resample

In [25]:
df1.resample('2T', label = 'right', closed = 'right').mean()

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s23,s24,s25,s26,s27,s28,s29,s30,s31,s32
Date_Time,,,,,,,,,,,,,,,,,,,,,
2017-06-10 12:26:00,0.0,3.0,0.0,0.0,0.0,39.0,8.5,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-06-10 12:28:00,0.0,3.0,0.0,0.0,5.0,8.0,0.0,1.5,0.0,0.0,...,1.5,0.0,0.0,11.0,1.0,0.0,0.0,0.0,0.0,0.0
2017-06-10 12:30:00,0.0,6.5,0.0,0.0,1.0,0.0,0.0,1.5,0.0,2.0,...,1.5,0.0,2.0,4.5,1.0,0.0,0.0,0.0,0.0,0.0
2017-06-10 12:32:00,0.0,26.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,23.0,...,2.0,2.5,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-06-10 12:34:00,0.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,5.0,2.5,0.0,11.0,2.5,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-28 13:40:00,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-06-28 13:42:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-06-28 13:44:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.5,0.0,0.0,0.0
2017-06-28 13:46:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-06-28 13:48:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.5,0.0,0.0